html {
    padding: 0px;
    margin: 0px;
    background: #fff
}
body {
    color: #000;
    font-family: sans-serif;
    line-height: 1.7; 
}
.wrapper {
    max-width: 960px;
    padding: 0px 24px;
    margin: 0px auto;
}
h1 {
    color:orange;
}
